workflow/ASR_Transcribe.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: ASR_Transcribe
  use_icon_as_answer_icon: false
kind: app
version: 0.1.4
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1741345375666-source-1741345382082-target
      source: '1741345375666'
      sourceHandle: source
      target: '1741345382082'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: end
      id: 1741345382082-source-1741345386260-target
      source: '1741345382082'
      sourceHandle: source
      target: '1741345386260'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - allowed_file_extensions: []
          allowed_file_types:
          - audio
          allowed_file_upload_methods:
          - local_file
          - remote_url
          label: audio_input
          max_length: 4800
          options: []
          required: true
          type: paragraph
          variable: audio_input
      height: 90
      id: '1741345375666'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: aws
        provider_name: aws
        provider_type: builtin
        selected: false
        title: TranscribeASR
        tool_configurations:
          MaxSpeakerLabels: 2
          ShowSpeakerLabels: 1
          aws_region: us-east-1
          identify_language: 1
          identify_multiple_languages: 0
          s3_bucket_name: sagemaker-us-east-1-152955032929
        tool_label: TranscribeASR
        tool_name: transcribe_asr
        tool_parameters:
          file_url:
            type: mixed
            value: '{{#1741345375666.audio_input#}}'
          language_code:
            type: mixed
            value: ''
          language_options:
            type: mixed
            value: ''
        type: tool
      height: 220
      id: '1741345382082'
      position:
        x: 385
        y: 282
      positionAbsolute:
        x: 385
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1741345382082'
          - text
          variable: text
        selected: false
        title: End
        type: end
      height: 90
      id: '1741345386260'
      position:
        x: 688
        y: 282
      positionAbsolute:
        x: 688
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        author: genaissa@amazon.com
        desc: ''
        height: 187
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"##
          audio_input:","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"https://github.com/aws-samples/dify-aws-tool/raw/refs/heads/main/notebook/transcribe/transcribe_test.mp3","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 253
      height: 187
      id: '1741586371404'
      position:
        x: 68
        y: 74
      positionAbsolute:
        x: 68
        y: 74
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 253
    - data:
        author: genaissa@amazon.com
        desc: ''
        height: 272
        selected: false
        showAuthor: true
        text: '{"root":{"children":[{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"##
          S3 Bucket Name","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"需要Dify所能Assume的role具备这个S3
          bucket的读写权限","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"##
          Transcribe 服务","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[],"direction":null,"format":"","indent":0,"type":"paragraph","version":1,"textFormat":0},{"children":[{"detail":0,"format":0,"mode":"normal","style":"","text":"需要Dify所能Assume的role需要能够使用Transcribe
          服务","type":"text","version":1}],"direction":"ltr","format":"","indent":0,"type":"paragraph","version":1,"textFormat":0}],"direction":"ltr","format":"","indent":0,"type":"root","version":1}}'
        theme: blue
        title: ''
        type: ''
        width: 240
      height: 272
      id: '1741588511144'
      position:
        x: 385
        y: -21
      positionAbsolute:
        x: 385
        y: -21
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom-note
      width: 240
    viewport:
      x: 29
      y: 237
      zoom: 1
