workflow/opensearch_img_search.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: opensearch-img-search
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: package
  value:
    plugin_unique_identifier: langgenius/aws_tools:0.0.6@3765d391c8e9bad2a1e08a274f45309a95ae609a0d7e819c5fb4a7a8a86c974e
kind: app
version: 0.1.5
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInLoop: false
        sourceType: start
        targetType: tool
      id: 1743220905496-source-1743221036318-target
      source: '1743220905496'
      sourceHandle: source
      target: '1743221036318'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: tool
        targetType: code
      id: 1743221036318-source-1743222911634-target
      source: '1743221036318'
      sourceHandle: source
      target: '1743222911634'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: code
        targetType: iteration
      id: 1743222911634-source-1743222968720-target
      source: '1743222911634'
      sourceHandle: source
      target: '1743222968720'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1743222968720'
        sourceType: iteration-start
        targetType: tool
      id: 1743222968720start-source-1743222976385-target
      source: 1743222968720start
      sourceHandle: source
      target: '1743222976385'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: true
        isInLoop: false
        iteration_id: '1743222968720'
        sourceType: tool
        targetType: template-transform
      id: 1743222976385-source-1743222979465-target
      source: '1743222976385'
      sourceHandle: source
      target: '1743222979465'
      targetHandle: target
      type: custom
      zIndex: 1002
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: iteration
        targetType: template-transform
      id: 1743222968720-source-1743223035502-target
      source: '1743222968720'
      sourceHandle: source
      target: '1743223035502'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        isInLoop: false
        sourceType: template-transform
        targetType: end
      id: 1743223035502-source-1743223094273-target
      source: '1743223035502'
      sourceHandle: source
      target: '1743223094273'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: s3_uri
          max_length: 480
          options: []
          required: false
          type: paragraph
          variable: s3_uri
        - label: query_text
          max_length: 4800
          options: []
          required: false
          type: paragraph
          variable: query_text
      height: 115
      id: '1743220905496'
      position:
        x: 80
        y: 282
      positionAbsolute:
        x: 80
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        is_team_authorization: true
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: OpenSearch Endpoint
            ja_JP: OpenSearch Endpoint
            pt_BR: OpenSearch Endpoint
            zh_Hans: OpenSearch 端点
          label:
            en_US: OpenSearch Endpoint
            ja_JP: OpenSearch Endpoint
            pt_BR: OpenSearch Endpoint
            zh_Hans: OpenSearch 端点
          llm_description: OpenSearch Endpoint to retrieve from
          max: null
          min: null
          name: opensearch_endpoint
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Target Index Name
            ja_JP: Target Index Name
            pt_BR: Target Index Name
            zh_Hans: 目标索引名称
          label:
            en_US: Target Index Name
            ja_JP: Target Index Name
            pt_BR: Target Index Name
            zh_Hans: 目标索引名称
          llm_description: The target of index name
          max: null
          min: null
          name: index_name
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Image S3 Path
            ja_JP: Image S3 Path
            pt_BR: Image S3 Path
            zh_Hans: 图像s3路径
          label:
            en_US: Image S3 Path
            ja_JP: Image S3 Path
            pt_BR: Image S3 Path
            zh_Hans: 图像s3路径
          llm_description: s3 path of image
          max: null
          min: null
          name: image_s3_path
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: Query Text
            ja_JP: Query Text
            pt_BR: Query Text
            zh_Hans: 查询文本
          label:
            en_US: Query Text
            ja_JP: Query Text
            pt_BR: Query Text
            zh_Hans: 查询文本
          llm_description: query text
          max: null
          min: null
          name: query_text
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: pic_emb
          form: llm
          human_description:
            en_US: Embedding Field Name
            ja_JP: Embedding Field Name
            pt_BR: Embedding Field Name
            zh_Hans: 向量字段名称
          label:
            en_US: Embedding Field Name
            ja_JP: Embedding Field Name
            pt_BR: Embedding Field Name
            zh_Hans: 向量字段名称
          llm_description: embedding field name
          max: null
          min: null
          name: embedding_field
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: s3_uri,pic_name
          form: llm
          human_description:
            en_US: metadata fields
            ja_JP: metadata fields
            pt_BR: metadata fields
            zh_Hans: 元信息字段列表
          label:
            en_US: Metadata Fields
            ja_JP: Metadata Fields
            pt_BR: Metadata Fields
            zh_Hans: 元信息字段列表
          llm_description: metadata fields
          max: null
          min: null
          name: metadata_fields
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: 5
          form: form
          human_description:
            en_US: Results Count
            ja_JP: Results Count
            pt_BR: Results Count
            zh_Hans: 结果数量
          label:
            en_US: Results Count
            ja_JP: Results Count
            pt_BR: Results Count
            zh_Hans: 结果数量
          llm_description: ''
          max: 10
          min: 1
          name: topk
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: embedding size
            ja_JP: embedding size
            pt_BR: embedding size
            zh_Hans: 纬度
          label:
            en_US: embedding size
            ja_JP: embedding size
            pt_BR: embedding size
            zh_Hans: 纬度
          llm_description: embedding size
          max: null
          min: null
          name: vector_size
          options:
          - label:
              en_US: '1024'
              ja_JP: '1024'
              pt_BR: '1024'
              zh_Hans: '1024'
            value: '1024'
          - label:
              en_US: '512'
              ja_JP: '512'
              pt_BR: '512'
              zh_Hans: '512'
            value: '512'
          - label:
              en_US: '384'
              ja_JP: '384'
              pt_BR: '384'
              zh_Hans: '384'
            value: '384'
          - label:
              en_US: '256'
              ja_JP: '256'
              pt_BR: '256'
              zh_Hans: '256'
            value: '256'
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: SEMANTIC
          form: form
          human_description:
            en_US: search type
            ja_JP: search type
            pt_BR: search type
            zh_Hans: 搜索类型
          label:
            en_US: search type
            ja_JP: search type
            pt_BR: search type
            zh_Hans: 搜索类型
          llm_description: search type
          max: null
          min: null
          name: search_type
          options:
          - label:
              en_US: SEMANTIC
              ja_JP: SEMANTIC
              pt_BR: SEMANTIC
              zh_Hans: 语义搜索
            value: SEMANTIC
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: Model Id
            ja_JP: Model Id
            pt_BR: Model Id
            zh_Hans: 向量模型ID
          label:
            en_US: Model Id
            ja_JP: Model Id
            pt_BR: Model Id
            zh_Hans: 向量模型ID
          llm_description: embedding model id
          max: null
          min: null
          name: embedding_model_id
          options:
          - label:
              en_US: amazon.titan-embed-image-v1
              ja_JP: amazon.titan-embed-image-v1
              pt_BR: amazon.titan-embed-image-v1
              zh_Hans: amazon.titan-embed-image-v1
            value: amazon.titan-embed-image-v1
          - label:
              en_US: amazon.titan-embed-text-v1
              ja_JP: amazon.titan-embed-text-v1
              pt_BR: amazon.titan-embed-text-v1
              zh_Hans: amazon.titan-embed-text-v1
            value: amazon.titan-embed-text-v1
          - label:
              en_US: amazon.titan-embed-text-v2:0
              ja_JP: amazon.titan-embed-text-v2:0
              pt_BR: amazon.titan-embed-text-v2:0
              zh_Hans: amazon.titan-embed-text-v2:0
            value: amazon.titan-embed-text-v2:0
          - label:
              en_US: amazon.titan-embed-text-v2:0
              ja_JP: amazon.titan-embed-text-v2:0
              pt_BR: amazon.titan-embed-text-v2:0
              zh_Hans: amazon.titan-embed-text-v2:0
            value: amazon.titan-embed-text-v2:0
          - label:
              en_US: cohere.embed-english-v3
              ja_JP: cohere.embed-english-v3
              pt_BR: cohere.embed-english-v3
              zh_Hans: cohere.embed-english-v3
            value: cohere.embed-english-v3
          - label:
              en_US: cohere.embed-multilingual-v3
              ja_JP: cohere.embed-multilingual-v3
              pt_BR: cohere.embed-multilingual-v3
              zh_Hans: cohere.embed-multilingual-v3
            value: cohere.embed-multilingual-v3
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: AWS region where the Bedrock Knowledge Base is located
            ja_JP: AWS region where the Bedrock Knowledge Base is located
            pt_BR: AWS region where the Bedrock Knowledge Base is located
            zh_Hans: Bedrock知识库所在的AWS区域
          label:
            en_US: AWS Region
            ja_JP: AWS Region
            pt_BR: AWS Region
            zh_Hans: AWS 区域
          llm_description: AWS region where the Bedrock Knowledge Base is located
          max: null
          min: null
          name: aws_region
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        params:
          aws_region: ''
          embedding_field: ''
          embedding_model_id: ''
          image_s3_path: ''
          index_name: ''
          metadata_fields: ''
          opensearch_endpoint: ''
          query_text: ''
          search_type: ''
          topk: ''
          vector_size: ''
        provider_id: langgenius/aws_tools/aws_tools
        provider_name: langgenius/aws_tools/aws_tools
        provider_type: builtin
        selected: false
        title: OpenSearch Retrieve
        tool_configurations:
          aws_region: us-east-1
          embedding_model_id: amazon.titan-embed-image-v1
          index_name: image-index
          opensearch_endpoint: https://onkuwtjdrqkjif700g83.us-east-1.aoss.amazonaws.com
          search_type: SEMANTIC
          topk: 5
          vector_size: '256'
        tool_label: OpenSearch Retrieve
        tool_name: opensearch_retrieve
        tool_parameters:
          embedding_field:
            type: mixed
            value: pic_emb
          image_s3_path:
            type: mixed
            value: '{{#1743220905496.s3_uri#}}'
          metadata_fields:
            type: mixed
            value: pic_name,s3_uri
          query_text:
            type: mixed
            value: '{{#1743220905496.query_text#}}'
        type: tool
      height: 245
      id: '1743221036318'
      position:
        x: 426
        y: 282
      positionAbsolute:
        x: 426
        y: 282
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "def main(arg1) -> dict:\n    s3_uri_list = [ item['s3_uri'] for item\
          \ in arg1[0][\"result\"]]\n    scores = [ item['score'] for item in arg1[0][\"\
          result\"]]\n    return {\n        \"s3_uri_list\": s3_uri_list,\n      \
          \  \"score_list\": scores\n    }"
        code_language: python3
        desc: ''
        outputs:
          s3_uri_list:
            children: null
            type: array[string]
          score_list:
            children: null
            type: array[number]
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1743221036318'
          - json
          variable: arg1
      height: 53
      id: '1743222911634'
      position:
        x: 730
        y: 282
      positionAbsolute:
        x: 730
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        error_handle_mode: terminated
        height: 255
        is_parallel: false
        iterator_selector:
        - '1743222911634'
        - s3_uri_list
        output_selector:
        - '1743222979465'
        - output
        output_type: array[string]
        parallel_nums: 10
        selected: false
        start_node_id: 1743222968720start
        title: Iteration
        type: iteration
        width: 692
      height: 255
      id: '1743222968720'
      position:
        x: 1034
        y: 282
      positionAbsolute:
        x: 1034
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 692
      zIndex: 1
    - data:
        desc: ''
        isInIteration: true
        selected: false
        title: ''
        type: iteration-start
      draggable: false
      height: 48
      id: 1743222968720start
      parentId: '1743222968720'
      position:
        x: 24
        y: 68
      positionAbsolute:
        x: 1058
        y: 350
      selectable: false
      sourcePosition: right
      targetPosition: left
      type: custom-iteration-start
      width: 44
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        is_team_authorization: true
        iteration_id: '1743222968720'
        output_schema: null
        paramSchemas:
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: The text to write
            ja_JP: The text to write
            pt_BR: The text to write
            zh_Hans: 待写入的文本
          label:
            en_US: The text to write
            ja_JP: The text to write
            pt_BR: The text to write
            zh_Hans: 待写入的文本
          llm_description: The text to write
          max: null
          min: null
          name: text_content
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: llm
          human_description:
            en_US: s3 uri
            ja_JP: s3 uri
            pt_BR: s3 uri
            zh_Hans: s3 uri
          label:
            en_US: s3 uri
            ja_JP: s3 uri
            pt_BR: s3 uri
            zh_Hans: s3 uri
          llm_description: s3 uri
          max: null
          min: null
          name: s3_uri
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: null
          form: form
          human_description:
            en_US: region of bucket
            ja_JP: region of bucket
            pt_BR: region of bucket
            zh_Hans: bucket 所在的region
          label:
            en_US: region of bucket
            ja_JP: region of bucket
            pt_BR: region of bucket
            zh_Hans: bucket 所在的region
          llm_description: region of bucket
          max: null
          min: null
          name: aws_region
          options: []
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: string
        - auto_generate: null
          default: read
          form: form
          human_description:
            en_US: operation type
            ja_JP: operation type
            pt_BR: operation type
            zh_Hans: 操作类型
          label:
            en_US: operation type
            ja_JP: operation type
            pt_BR: operation type
            zh_Hans: 操作类型
          llm_description: ''
          max: null
          min: null
          name: operation_type
          options:
          - label:
              en_US: read
              ja_JP: read
              pt_BR: read
              zh_Hans: 读
            value: read
          - label:
              en_US: write
              ja_JP: write
              pt_BR: write
              zh_Hans: 写
            value: write
          placeholder: null
          precision: null
          required: true
          scope: null
          template: null
          type: select
        - auto_generate: null
          default: 0
          form: form
          human_description:
            en_US: Whether to generate a presigned URL for the S3 object
            ja_JP: Whether to generate a presigned URL for the S3 object
            pt_BR: Whether to generate a presigned URL for the S3 object
            zh_Hans: 是否生成S3对象的预签名URL
          label:
            en_US: Generate presigned URL
            ja_JP: Generate presigned URL
            pt_BR: Generate presigned URL
            zh_Hans: 生成预签名URL
          llm_description: ''
          max: null
          min: null
          name: generate_presign_url
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: boolean
        - auto_generate: null
          default: 3600
          form: form
          human_description:
            en_US: Expiration time in seconds for the presigned URL
            ja_JP: Expiration time in seconds for the presigned URL
            pt_BR: Expiration time in seconds for the presigned URL
            zh_Hans: 预签名URL的有效期（秒）
          label:
            en_US: Presigned URL expiration time
            ja_JP: Presigned URL expiration time
            pt_BR: Presigned URL expiration time
            zh_Hans: 预签名URL有效期
          llm_description: ''
          max: null
          min: null
          name: presign_expiry
          options: []
          placeholder: null
          precision: null
          required: false
          scope: null
          template: null
          type: number
        params:
          aws_region: ''
          generate_presign_url: ''
          operation_type: ''
          presign_expiry: ''
          s3_uri: ''
          text_content: ''
        provider_id: langgenius/aws_tools/aws_tools
        provider_name: langgenius/aws_tools/aws_tools
        provider_type: builtin
        selected: false
        title: AWS S3 Operator
        tool_configurations:
          aws_region: us-east-1
          generate_presign_url: 1
          operation_type: read
          presign_expiry: 3600
        tool_label: AWS S3 Operator
        tool_name: s3_operator
        tool_parameters:
          s3_uri:
            type: mixed
            value: '{{#1743222968720.item#}}'
          text_content:
            type: mixed
            value: ''
        type: tool
      height: 167
      id: '1743222976385'
      parentId: '1743222968720'
      position:
        x: 128
        y: 67
      positionAbsolute:
        x: 1162
        y: 349
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        isInIteration: true
        isInLoop: false
        iteration_id: '1743222968720'
        selected: false
        template: '![图片]({{ arg1 }})'
        title: Template
        type: template-transform
        variables:
        - value_selector:
          - '1743222976385'
          - text
          variable: arg1
      height: 53
      id: '1743222979465'
      parentId: '1743222968720'
      position:
        x: 432
        y: 68
      positionAbsolute:
        x: 1466
        y: 350
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
      zIndex: 1002
    - data:
        desc: ''
        selected: false
        template: '| 1| 2|

          |--|--|

          |{{ urls[0] }}|{{ urls[1] }}|

          |{{ score_list[0] }}|{{ score_list[1] }}|

          | 3| 4|

          |{{ urls[2] }}|{{ urls[3] }}|

          |{{ score_list[2] }}|{{ score_list[3] }}|'
        title: Template 2
        type: template-transform
        variables:
        - value_selector:
          - '1743222968720'
          - output
          variable: urls
        - value_selector:
          - '1743222911634'
          - score_list
          variable: score_list
      height: 53
      id: '1743223035502'
      position:
        x: 1786
        y: 282
      positionAbsolute:
        x: 1786
        y: 282
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1743223035502'
          - output
          variable: output
        selected: false
        title: End
        type: end
      height: 89
      id: '1743223094273'
      position:
        x: 2090
        y: 282
      positionAbsolute:
        x: 2090
        y: 282
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -119
      y: 114.5
      zoom: 1
