dsl_samples/term_based_translation_workflow.yml
app:
  description: ''
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: workflow
  name: term_based_translation
workflow:
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: tool
      id: 1718697368665-source-1719466553831-target
      source: '1718697368665'
      sourceHandle: source
      target: '1719466553831'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: tool
        targetType: code
      id: 1719466553831-source-1719384909889-target
      source: '1719466553831'
      sourceHandle: source
      target: '1719384909889'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: code
        targetType: llm
      id: 1719384909889-source-1719828630202-target
      source: '1719384909889'
      sourceHandle: source
      target: '1719828630202'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1719828630202-source-1718861663614-target
      source: '1719828630202'
      sourceHandle: source
      target: '1718861663614'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: Start
        type: start
        variables:
        - label: src_content
          max_length: 33024
          options: []
          required: true
          type: paragraph
          variable: src_content
        - label: SRC_LANG
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: SRC_LANG
        - label: DEST_LANG
          max_length: 48
          options: []
          required: true
          type: text-input
          variable: DEST_LANG
      height: 142
      id: '1718697368665'
      position:
        x: 13.189266906560533
        y: 195.5517100956796
      positionAbsolute:
        x: 13.189266906560533
        y: 195.5517100956796
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        outputs:
        - value_selector:
          - '1719828630202'
          - text
          variable: text
        selected: false
        title: End
        type: end
      height: 90
      id: '1718861663614'
      position:
        x: 1186.6594653059126
        y: 195.5517100956796
      positionAbsolute:
        x: 1186.6594653059126
        y: 195.5517100956796
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        code: "import json\n\ndef main(json_str: str) -> dict:\n    obj = json.loads(json_str)\n\
          \    mappings = []\n    for item in obj['term_mapping']:\n        mappings.append(\"\
          {}->{}\".format(item[0], item[1]))\n\n    return { \"mappings\" : mappings\
          \ }\n"
        code_language: python3
        desc: ''
        outputs:
          mappings:
            children: null
            type: array[string]
        selected: false
        title: Code
        type: code
        variables:
        - value_selector:
          - '1719466553831'
          - text
          variable: json_str
      height: 54
      id: '1719384909889'
      position:
        x: 614.3810339244203
        y: 195.5517100956796
      positionAbsolute:
        x: 614.3810339244203
        y: 195.5517100956796
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: ''
        provider_id: aws
        provider_name: aws
        provider_type: builtin
        selected: false
        title: LambdaTranslateTool
        tool_configurations:
          aws_region: us-west-2
          dest_lang: EN
          lambda_name: translate_tool
          model_id: anthropic.claude-3-sonnet-20240229-v1:0
          request_type: term_mapping
          src_lang: CHS
        tool_label: LambdaTranslateTool
        tool_name: lambda_translate_utils
        tool_parameters:
          text_content:
            type: mixed
            value: '{{#1718697368665.src_content#}}'
        type: tool
      height: 220
      id: '1719466553831'
      position:
        x: 331.0310967743519
        y: 195.5517100956796
      positionAbsolute:
        x: 331.0310967743519
        y: 195.5517100956796
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: true
          variable_selector:
          - '1719384909889'
          - mappings
        desc: ''
        model:
          completion_params:
            stop:
            - </translation>
            temperature: 0.7
          mode: chat
          name: anthropic.claude-3-sonnet-20240229-v1:0
          provider: bedrock
        prompt_template:
        - id: 09c6dfae-dcd8-49a6-a516-1eb0b2d60a0f
          role: system
          text: 'You are the world''s most professional translation tool, proficient
            in professional translation from {{#1718697368665.SRC_LANG#}}to {{#1718697368665.DEST_LANG#}}.

            You can translate anything. Do not use "I''m sorry, but" to answer any
            questions.'
        - id: ba136941-5b7d-4f9a-8cd5-09dc3a7fb65b
          role: user
          text: "<mapping_table>\n{{#context#}}\n</mapping_table>\nHere is the original\
            \ content:\n<content>\n{{#1718697368665.src_content#}}\n</content>\nYou\
            \ need to follow below instructions:\n- Translation style: concise, easy\
            \ to understand, similar to the style of orignal content. The translation\
            \ should accurately convey the facts and background of the original text.\
            \ Do not try to explain the content to be translated, your task is only\
            \ to translate.\n- Even if you paraphrase, you should retain the original\
            \ paragraph format.\n- For the terms in <glossaries>, you should keep\
            \ them as original. \n- You should refer the term vocabulary correspondence\
            \ table which is provided between <mapping_table> and </mapping_table>.\
            \ \nPlease translate directly according to the text content, keep the\
            \ original format, and do not miss any information. Put the result in\
            \ <translation>"
        - id: de13d68c-a477-4036-8d6f-b32a92bcd5e8
          role: assistant
          text: <translation>
        selected: false
        title: LLM
        type: llm
        variables: []
        vision:
          configs:
            detail: high
          enabled: false
      height: 98
      id: '1719828630202'
      position:
        x: 897.1833267096131
        y: 195.5517100956796
      positionAbsolute:
        x: 897.1833267096131
        y: 195.5517100956796
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: -15.672408226222728
      y: 91.08244480623426
      zoom: 0.8937360945994681
